.tabs-container {
  font-family: Inter;
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap:16px;
  width: 146px;
  height: 53px;
  margin:0 auto;
  padding-top: 32px;
  padding-bottom: 21px;
  position:relative;
}

.tabs-rectangle {
  position: absolute;
  bottom: 0;
  left: 0px;
  width: 65px;
  height: 2px;
  background-color:#1890FF;
}

.tabs-search {
  color: #1890FF;
}

.tabs-rated {
  /* color:#1890FF; */
}

.tabs-search, .tabs-rated {
  width: 64px;
  font-size: 14px;
  font-weight: 400;
  cursor: pointer;
  display: flex;
  justify-content: center;
}

.tabs-rectangle--not-active {
  position: absolute;
  bottom:0;
  right: 0;
  width: 81px;
  height: 1px;
  background-color: rgb(238, 238, 237);
}