.mobile-movie-card {
    box-shadow: 0px 4px 12px 0px #00000026;
    max-width: 387px;
    height: 245px;
    margin-left: 16px;
    margin-right: 17px;
    position: relative;
    font-family: Inter;
}

.mobile-poster-wrapper {
    width: 60px;
    height: 91px;
    margin: 6px 0px 10px 10px;
}

.mobile-title {
    font-weight: 400;
    font-size: 1.1em;
    line-height: 28px;
    letter-spacing: 0%;
    vertical-align: middle;
    color: #000000;
    max-width: 280px;
    max-height: 3em;
    overflow: hidden;
    text-overflow: ellipsis;
}

.mobile-release_date {
    color: #827e7e;
    font-weight: 400;
    font-size: 12px;
    line-height: 22px;
}

.mobile-card-content {
    display: flex;
    flex-wrap: nowrap;
}

.mobile-info {
    display: flex;
    flex-direction: column;
    padding-left: 13px;
}

.mobile-rate {
    position: absolute;
    right: 10px;
    bottom: 10px;
}

.mobile-rating {
    position: absolute;
    right: 10px;
    top: 10px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 2px solid;
    font-family: Inter;
    font-weight: 400;
    font-size: 12px;
    color: #000000;
    display: flex;
    align-items: center;
    justify-content: center;
}

.mobile-genres {
    display: flex;
}

.mobile-genre {
    padding: 2px 4px 3px 5px;
    margin-right: 8px;
    border: 1px solid #d9d9d9;
    border-radius: 2px;
    background-color: #fafafa;
    font-family: Inter;
    font-weight: 400;
    font-size: 12px;
    line-height: 100%;
    letter-spacing: 0px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 100px;
}

.mobile-description {
    font-family: Inter;
    font-weight: 400;
    font-size: 12px;
    color: #000000;
    margin: 0px 10px 0px 10px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 4;
    overflow: hidden;
    letter-spacing: 0px;
    line-height: 22px;
    max-height: 8em;
    width: 367px;
    text-overflow: ellipsis;
}
