.tabs-container {
    font-family: Inter;
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 16px;
    width: 146px;
    height: 53px;
    margin: 0 auto;
    padding-top: 32px;
    padding-bottom: 21px;
    position: relative;
}

.tabs-rated.active,
.tabs-search.active {
    color: #1890ff;
}

.tabs-search,
.tabs-rated {
    width: 64px;
    font-size: 14px;
    font-weight: 400;
    cursor: pointer;
    display: flex;
    justify-content: center;
}
.tabs-rectangle.active {
    position: absolute;
    bottom: 0;
    left: 0px;
    width: 65px;
    height: 2px;
    background-color: #1890ff;
}

.tabs-rectangle.not-active {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 65px;
    height: 2px;
    background-color: #1890ff;
}
