.search-container {
  margin-left: 36px;
}

.search-input {
  width: 938px;
  height: 40px;
  border: 1px solid #D9D9D9;
  background: #FFFFFF;
  border-radius: 4px;
  font-family: Inter;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  letter-spacing: 0px;
  vertical-align: middle;
  padding-left: 12px;
  transition: transform 0.2s;
}

.search-input::placeholder {
  color:#00000040;
}

.search-input:focus {
  transform: scale(1.01);
}

.search-form {
  padding-top: 19px;
  padding-bottom: 34px;
}

@media screen and (width < 1010px ) {
  .search-input, .search-container {
    width: 100%;
    margin: 0px;
  }
  .search-form {
    padding:17px 16px 10px 16px;
  }
}